*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    margin-top: 40px;
}
form{
    width: 95%;
    max-width: 600px;
    position: relative;
    left: 0;
    right: 0;
    margin: 40px auto;

    outline: 1px solid #262626;
    padding: 60px 40px;

    border-radius: 8px;
}

#card-holder{
    width: 95%;
    max-width: 1200px;
    padding: 20px;

    left: 0;
    right: 0;
    margin: 40px auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;

    .card{
        padding: 10px;
        border-radius: 8px;
    }
}

.shadow{
    .card-title, .age, .gender, .card-text{
        color: #efefef;
        background: #efefef;
    }
}